{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if user.is_authenticated %}
    Hello, {{ user.username }}
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><b>{{ question.question_text }}</b><br>
        {% if question.can_vote %}
            <a href="{% url 'polls:access' question.id %}">vote</a><br>
        {% endif %}
        <a href="{% url 'polls:results' question.id %}">results</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
